<a href="https://colab.research.google.com/github/adhiloki/python/blob/main/Autosklearn_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

!pip install auto-sklearn

In [1]:
import autosklearn

In [3]:
import pandas as pd

df = pd.read_csv('/content/housing.csv')

df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600,NEAR BAY
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500,NEAR BAY
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100,NEAR BAY
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300,NEAR BAY
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200,NEAR BAY

In [4]:
target = df.pop('median_house_value')
df = pd.concat([df, target], axis=1)

df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200

In [5]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age      int64
total_rooms             int64
total_bedrooms        float64
population              int64
households              int64
median_income         float64
ocean_proximity        object
median_house_value      int64
dtype: object

In [7]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['ocean_proximity'] = le.fit_transform(df['ocean_proximity'])

df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,3,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,3,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,3,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,3,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,3,342200
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25,1665,374.0,845,330,1.5603,1,78100
20636,-121.21,39.49,18,697,150.0,356,114,2.5568,1,77100
20637,-121.22,39.43,17,2254,485.0,1007,433,1.7000,1,92300
20638,-121.32,39.43,18,1860,409.0,741,349,1.8672,1,84700
20639,-121.24,39.37,16,2785,616.0,1387,530,2.3886,1,89400

In [8]:
df = df.sample(frac=1, random_state=0)
df.reset_index(drop=True, inplace=True)

split_index = int(len(df) * 0.75)

train_df = df[:split_index]
test_df = df[split_index:]

train_df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-117.05,32.58,22,2101,399.0,1551,371,4.1518,4,136900
1,-117.97,33.92,32,2620,398.0,1296,429,5.7796,0,241300
2,-121.84,38.65,29,3167,548.0,1554,534,4.3487,1,200700
3,-115.60,33.20,37,709,187.0,390,142,2.4511,1,72500
4,-122.43,37.79,25,1637,394.0,649,379,5.0049,3,460000

In [9]:
X_train = train_df.to_numpy()[:, :-1]
y_train = train_df.to_numpy()[:, -1]

X_test = test_df.to_numpy()[:, :-1]
y_test = test_df.to_numpy()[:, -1]

(X_train.shape, y_train.shape), (X_test.shape, y_test.shape)

(((15480, 9), (15480,)), ((5160, 9), (5160,)))

In [10]:
feature_types = ['Numerical']*8 + ['Categorical']

feature_types

['Numerical',
 'Numerical',
 'Numerical',
 'Numerical',
 'Numerical',
 'Numerical',
 'Numerical',
 'Numerical',
 'Categorical']

In [11]:
import autosklearn.regression

autosklearn_regressor = autosklearn.regression.AutoSklearnRegressor(
    time_left_for_this_task=240,
    per_run_time_limit=60,
)

autosklearn_regressor.fit(X_train, y_train, feat_type=feature_types)

AutoSklearnRegressor(per_run_time_limit=60, time_left_for_this_task=240)

In [12]:
print(autosklearn_regressor.leaderboard())

          rank  ensemble_weight               type      cost   duration
model_id
7            1              0.4  gradient_boosting  0.170498   5.996798
4            2              0.2  gradient_boosting  0.171715  28.819339
5            3              0.3  gradient_boosting  0.174482  43.638200
8            4              0.1  gradient_boosting  0.183270   4.233389

In [13]:
from sklearn.metrics import mean_absolute_error as mae

mae(y_train, autosklearn_regressor.predict(X_train)), mae(y_test, autosklearn_regressor.predict(X_test))

(18471.02661000333, 29713.159015223777)

In [14]:
autosklearn_regressor.predict(X_train)

array([133374.36816406, 247729.1171875 , 174224.28222656, ...,
       178951.796875  , 114125.41601562, 147027.92675781])